
					.slider-image-container{
						min-height:274px;
						overflow:hidden;
						}
						.slider-content{
							height:auto;
							}
	.container-main{
		margin-top:120px;
		margin-bottom:20px;
		}
footer.site-footer{
	height:auto;
	position:relative;
	}
	.site-footer-inner{
		position:relative;
		bottom:auto;
		width:auto;
		}